body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.profile-card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.social-links a:hover {
    color: #1da1f2;
}

.contact-btn {
  display: inline-block;
  margin-block: 24px !important;
  background: #1da1f2;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 14px;
}

.contact-btn:hover {
  background: #0d8bd9;
}